* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.background__container {
    position: relative;
    background-image: url('../images/banner_bckg.png');
    background-position: center;
    background-size: cover;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(37, 43, 73, .8);
    }
}

.header {
    position: fixed;
    z-index: 1;
    max-width: 1550px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    &::after {
        content: "";
        border-bottom: 1px solid rgba(186, 187, 197, 1);
        bottom: 6px;
        left: 50%;
        width: calc(100% - 40px);
        position: absolute;
        transform: translateX(-50%);
    }
}

.header__list {
    list-style-type: none;
    display: flex;
    z-index: 1;
    position: relative;
}

.header__logo {
    z-index: 1;
    padding: 38.36px 0 36px;
    display: flex;
}

.header__item {
    list-style-type: none;
}

.header__link {
    font-weight: 700;
    font-size: 13px;
    line-height: 15.26px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 36px 5px;
    display: block;
    min-width: 134px;
    text-align: center;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease;

    &:hover {
        border-bottom: 3px solid rgba(186, 187, 197, 1);
    }

    &:active {
        border-bottom: 3px solid rgba(231, 20, 20, 1);
    }
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1210px;
    width: 100%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    position: relative;
    padding-bottom: 120px;
    padding-top: 230px;
    margin-bottom: 116px;
}

.burger {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    display: none;

    &::before, &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #FFF;
        transition: all 0.3s ease 0s;
        left: 0;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    span {
        width: 100%;
        height: 2px;
        transform: scale(1);
        background-color: #FFF;
    }

    &.active span {
        transform: scale(0);
    }

    &.active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    &.active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }
}

.banner__title, .banner__text, .banner__button {
    font-family: "Raleway", sans-serif;
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

.banner__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 75.14px;
    color: rgba(255, 255, 255, 1);
    max-width: 1170px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 31.43px;
}

.banner__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.18px;
    color: rgba(255, 255, 255, 1);
    max-width: 1170px;
    text-align: center;
    margin-bottom: 80px;
}

.banner__button {
    font-weight: 900;
    font-size: 24px;
    line-height: 28.18px;
    color: rgba(255, 255, 255, 1);
    max-width: 370px;
    background-color: rgba(255, 67, 67, 1);
    padding: 20px 0;
    border: none;
    text-transform: uppercase;
    display: block;
    cursor: pointer;

    &:hover {
        background-color: rgba(231, 20, 20, 1);
    }

    &:active {
        box-shadow: 4px 4px 30px 0px rgba(255, 67, 67, 1);
    }
}

.offer {
    margin-bottom: 116px;
}

.offer__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 90px;
}

.offer__item {
    max-width: 370px;
    width: 100%;
    text-align: center;
}

.offer__img {
    margin-bottom: 30px;
}

.offer__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 28.18px;
    margin-bottom: 21px;
}

.offer__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    color: rgba(108, 114, 121, 1);
}

.project {
    margin-bottom: 114px;
}

.project__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2px;
    row-gap: 2px;
}

.project__item {
    position: relative;
    aspect-ratio: 1;
}

.project__image {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.project__content {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 67, 67, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    &:hover{
        opacity: 1;
    }
}

.project__title {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    line-height: 28.18px;
    margin-bottom: 13px;
    font-weight: 900;
}

.project__text {
    font-size: 14px;
    line-height: 16.44px;
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1024px) {
    .header__nav-link {
        font-size: 12px;
        line-height: 14.09px;
    }

    .header {
        margin-bottom: 156px;
        &::after {
            width: 984px;
        }
    }

    .banner__title {
        font-size: 48px;
        line-height: 56.35px;
    }

    .banner__text {
        font-size: 18px;
        line-height: 21.13px;
        max-width: 755px;
    }

    .banner__button {
        max-width: 314px;
    }

    .offer__container {
        row-gap: 50px;
    }

    .offer__img {
        width: 85px;
        height: 85px;
    }

    .offer__title {
        font-size: 18px;
        line-height: 21.13px;
    }

    .offer__text {
        font-size: 14px;
        line-height: 16.44px;
    }

    .project__title {
        font-size: 18px;
        line-height: 21.13px;
    }

    .project-text {
        font-size: 14px;
        line-height: 16.44px;
    }
}

@media screen and (max-width: 320px) {

    .container {
        max-width: 360px;
    }

    .banner {
        padding-bottom: 52px;
        padding-top: 106px;
        margin-bottom: 40px;
    }

    .header {
        padding: 19px 0;
        &::after {
            display: none;
        }
    }

    .banner__title {
        font-size: 36px;
        line-height: 42.26px;
        max-width: 280px;
    }

    .banner__text {
        font-size: 14px;
        line-height: 16.44px;
        max-width: 280px;
        padding: 0;
    }

    .banner__button {
        max-width: 280px;
    }

    .header__logo {
        padding: 0;
    }

    .header::after,
    .header__nav {
        display: none;
    }

    .burger {
        display: block;
        position: relative;
        z-index: 1;
        background: transparent;
        border: none;
    }

    .burger span {
        display: block;
    }

    .offer__container {
        row-gap: 42px;
    }

    .offer__img {
        width: 75px;
        height: 75px;
    }

    .offer__title {
        margin-bottom: 7px
    }

    .offer__container {
        grid-template-columns: 1fr;
    }

    .project__container {
        grid-template-columns: repeat(2, 1fr);
    }
}